@page
@model AspNetCoreWebApp.Pages.PageExtCallModel
@{
}
<form method="post" style="border: 1px solid black">
    <div>
        Url: <input asp-for="m_url" class="form-control" />
    </div>
    <input type="submit" value="post" class="btn btn-primary" />
    <div>
        Url content:
        <div style="border: 1px solid">@Model.m_url_content</div>
    </div>
    <div>
        Error:
        <div style="border: 1px solid">@Model.m_error</div>
    </div>
</form>
