@page
@model AspNetCoreWebApp.Pages.m_db1.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>m_t1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="m_t1.m_c1_text" class="control-label"></label>
                <input asp-for="m_t1.m_c1_text" class="form-control" />
                <span asp-validation-for="m_t1.m_c1_text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="m_t1.m_c2_decimal" class="control-label"></label>
                <input asp-for="m_t1.m_c2_decimal" class="form-control" />
                <span asp-validation-for="m_t1.m_c2_decimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="m_t1.m_c3_date" class="control-label"></label>
                <input asp-for="m_t1.m_c3_date" class="form-control" />
                <span asp-validation-for="m_t1.m_c3_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
