################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorServerApp/BlazorServerApp/bin/
/BlazorServerApp/BlazorServerApp/obj/
/BlazorServerApp/.vs/
/BlazorServerApp/TestProject1/obj/
/BlazorServerApp/TestProject1/bin/
