@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div style="margin: 10px 0px">--- OAuth ---</div>
<div>
    login: https://localhost:7026/api/MyAuth/Login?LoginName=<b>login1</b>&RememberLogin=false&remember_minutes_span=
</div>
<div>
    logout: https://localhost:7026/api/MyAuth/Logout
</div>
<div>
    url for authentificated user: https://localhost:7026/api/Values
</div>
